html,
body,
#top {
    margin: 0;
    padding: 0;
    background-color: black;
    --color-text: rgb(53, 168, 224);
    --color-main: white;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
    display: flex;
    align-items: center;
    height: 100%;
}

#top {
    position: relative;
    background-color: white;
    width: 100%;
    height: calc(100vw * 9 / 16);
    overflow: hidden;
    text-align: left;
}

h1 {
    background: url("/images/logo-ixor.png") right top no-repeat, var(--color-main);
    background-size: 9%, auto;
    height: 17%;
    margin-left: 10%;
    margin-bottom: 0px;
    margin-block-end: 0px;
    width: calc(90% - 2vw);
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    border-radius: 0 8px 8px 0;
    text-transform: none;
    color: rgb(22, 79, 134);
    font-size: 4vw;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-top: 0;
    margin-left: 10%;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
}

#top>h2:first-of-type {
    margin-top: 6vw;
}

.split>h2:first-of-type {
    margin-top: 6vw;
}

img {
    height: 80%;
    width: 100%;
}

.logos {
    width: 80%;
    margin: 1vw auto;
    text-align: center;
}

a,
a:visited {
    color: var(--color-main);
    text-decoration: none;
}

split-view {
    height: calc(100% - 15vw);
    padding: 0 2vw;
}

em {
    font-style: normal;
    color: var(--color-main);
}

#progression {
    position: absolute;
    height: 6px;
    bottom: calc((100vh - (100vw * 9 / 16)) / 2);
    left: 0;
    background-color: black;
    border-radius: 0 3px 3px 0;
    opacity: .4;
}

#qr {
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    width: 15vw;
    height: auto;
}